* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    border: none;
}
section {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-family:'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
    color: rgb(206, 44, 44);
    background-color: rgb(123, 160, 185);
    border-radius: 10px;
}
div {
    display: flex;
    flex-direction: column;
}
input {
    border-radius: 10px;
    box-shadow: 0 0 14px rgba(87, 77, 77, 0.4), inset 0 1px 4px rgba(255,255,255,0.3);
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(245, 245, 245);
}